<div class="slider-container" #sliderContainer>
    <div class="slider">
        <div class="row mb-2 gx-2 d-flex flex-row slide" *ngFor="let movie of trendingMovies">
            <div class="col" #trending [id]="movie.id" (click)="getDetails()">
                <picture>
                    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"  alt="imagen-default" class="w-100">
                </picture>
                <div>{{movie.title}}</div>
            </div>
        </div>
           
        
        <div class="row dots gx-2 d-flex flex-row justify-content-center">
            <div class="col dot active"></div>
            <div class="col dot"></div>
            <div class="col dot"></div>
            <div class="col dot"></div>
            <div class="col dot"></div>
        </div>
    </div>
</div>
