<div class="row mb-4">
    <div class="col">
        <div class="row mb-5">
            <div class="col">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <h1>
                            Bienvenido {{ this.user.userName }}
                        </h1>
                        <a class="navbar-brand" routerLink="/">
                            Movies
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                                {{ this.user.userName }}
                            </div>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Buscador..."
                                    aria-label="Search">
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>     

        <app-slider></app-slider>

        <hr>

        <div class="row">
            <div class="col d-flex justify-content-end">
                <span>
                    Total de peliculas encontradas: 20 de 1,234
                </span>
            </div>
        </div>

        <app-main></app-main>
        
        <div class="row mt-4">
            <div class="col-12 d-flex flex-row align-items-center justify-content-between">
                <nav aria-label="Page navigation d-flex">
                    <ul class="pagination justify-content-center m-0">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                     
                        <li class="page-item"><a class="page-link active">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" [id]="lastPage">{{lastPage}}</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <span>
                    Total de peliculas encontradas: 20 de {{totalMovies}}
                </span>
            </div>
        </div>
    </div>
</div>
