<div class="row mb-4">
    <div class="col">
        <div class="row mb-5">
            <div class="col">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <h1>
                            Bienvenido {{ this.user.userName }}
                        </h1>
                        <a class="navbar-brand" routerLink="/">
                            Movies
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                                {{ this.user.userName }}
                            </div>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Buscador..."
                                    aria-label="Search">
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>     

        <app-slider></app-slider>

        <hr>

        <div class="row">
            <div class="col d-flex justify-content-end">
                <span>
                    Total de peliculas encontradas: 20 de 1,234
                </span>
            </div>
        </div>

        <app-main [data]="movies"></app-main>
        <paginator (emitMovies)="setMovies($event)"></paginator>
       
    </div>
</div>
